name: CI
on:
  push:
    branches: main
    paths:
      - '.github/workflows/main.yml'
      - 'action.yml'
      - 'src/*.ts'
      - 'package.json'

  pull_request:
  workflow_dispatch:

jobs:
  ci-test:
    name: Build Kernel
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}

    - name: Build Kernel
      uses: ./
      with:
          kernel-url: https://github.com/samsungexynos7420/android_kernel_samsung_universal7420
          kernel-dir: noblelte
          kernel-branch: lineage-21.0-unify
          config: exynos7420-noblelte_defconfig
          arch: arm64
          aosp-gcc: true
          aosp-clang: true
          ksu: false
          android-version: 14
          aosp-clang-version: r383902
          disable-lto: true
          anykernel3: true
          kvm: true
